.main__accueil {
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content: center; 
  padding: 20px;
}

p {
  max-width: 800px;
  margin-bottom: 20px;
  font-size: 1.1rem;
  line-height: 1.6;
  padding: 0 10px;
}

.img__accueil {
  max-width: 500px;
  max-height: 500px;
  object-fit: contain;
  margin-bottom: 20px;
}