header {
  background-color: var(--couleur-primaire); 
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  color: var(--couleur-texte-accent); 
  margin: 0;
  font-size: 4rem; 
  font-family: var(--font-tittle);
}

 a {
  text-decoration: none;

}

nav a {
  color: var(--couleur-accent); 
  font-size: 1.5rem;
  text-decoration: none; 
  padding: 10px 20px;
  transition: background-color 0.3s, color 0.3s;
  text-transform: uppercase;
  margin-right: 10px;
}

nav a:hover, nav a:focus {
  background-color: var(--couleur-accent); 
  color: var(--couleur-arriere-plan); 
  border-radius: 5px; 
}

input[type="text"] {
  font-size: 1rem; 
  padding: 5px 10px;
  margin-right: 10px;
  border: 2px solid var(--couleur-accent);
  background-color: transparent; 
  color: var(--couleur-texte-accent);
}

input[type="text"]:focus {
  outline: 2px solid var(--couleur-secondaire); 
}


button {
  font-size: 1rem; 
  padding: 5px 15px;
  background-color: var(--couleur-accent); 
  color: var(--couleur-arriere-plan);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  background-color: var(--couleur-texte-accent);
  transform: scale(1.05);
}

button:active {
  transform: scale(0.95);
}